affine==2.3.0
attrs==20.3.0
cdsapi==0.2.4
certifi==2020.12.5
cftime==1.4.1
chardet==4.0.0
click==7.1.2
click-plugins==1.1.1
cligj==0.7.1
cycler==0.10.0
DateTime==4.3
decorator==4.4.2
easymore==0.0.0
Fiona==1.8.13.post1
GDAL==3.0.4
geojson==2.5.0
geopandas==0.8.2
geovoronoi==0.3.0
hs-restclient==1.3.7
idna==2.10
imageio==2.9.0
json5==0.9.5
kiwisolver==1.3.1
matplotlib==3.3.4
munch==2.5.0
netCDF4==1.5.4
networkx==2.5.1
numpy==1.20.2
oauthlib==3.1.0
osgeo==0.0.0
pandas==1.2.3
Pillow==8.1.2
pyparsing==2.4.7
pyproj==2.6.1.post1
pysheds==0.2.7
pyshp==2.1.0
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.1.1
rasterio==1.1.8
requests==2.25.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
Rtree==0.9.4
scikit-image==0.18.1
scipy==1.6.0
Shapely==1.7.1
simpledbf==0.2.6
six==1.15.0
snuggs==1.4.7
tifffile==2021.4.8
tqdm==4.60.0
urllib3==1.26.4
xarray==0.16.2
zope.interface==4.7.1
