cdsapi==0.2.4
easymore==0.0.3
GDAL==3.0.4
geopandas==0.10.2
hs_restclient==1.3.7
imageio==2.9.0
matplotlib==3.3.4
netCDF4==1.5.4
numpy==1.20.2
pandas==1.2.3
Pillow==9.0.1
pyproj==2.6.1
pyshp==2.1.0
rasterio==1.1.8
requests==2.25.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
scipy==1.6.0
Shapely==1.7.1
simpledbf==0.2.6
xarray==0.16.2